.header {
    background-color: aquamarine;
}

.headerContainer {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}