.mainBlock {
    height: 100vh;
    background-color: #a045b1;
}

.text {
    width: 300px;
    background-color: #d0b8a0;

}

.photo {
    width: 300px;
    height: 400px;
    background-color: #d0b8a0;
}

.mainContainer {
    flex-wrap: wrap;
}

