.mainBlock {
    height: 100vh;
    background-color: #a045b1;
}

.text {
    width: 50%;
    background-color: #d0b8a0;

}

.photo {
    width: 40%;
    height: 400px;
    background-color: #d0b8a0;
}

